/*
Source - https://stackoverflow.com/q
Posted by Ferhat, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-29, License - CC BY-SA 4.0
*/

.zoom-img {
  width: 100%;
  height: 240px;
  overflow: hidden;
  border: solid 1px #ddd;
}

.zoom-img  img {
  width: 100%;
  transition: all .3s ease-in-out;
}

.zoom-img img:hover   {
  transform: scale(1.2);
}

.about-link {
  vertical-align: middle;
}

.bi {
  margin-right: 0px !important;
}

.title {
  font-size: 1.5em;
}